@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;}



.general-div{
    
    width: 100%;
    height: 100vh;
    padding: 100px;
    background-color:#000000;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.logo{
    width:150px;
    
}

.ul_item{
    position:relative;
    display: flex;
}


.li_item{
    color: white;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    margin-left: 50px;
    cursor: pointer;

}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.logo{
    position: relative;
    max-width: 150px;
}

.text-form{
    color: #fff;
    margin-left: 60px;
    
}


.div-general-form{
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
}

.div-bloco{
    width: 50%;
    margin-top: 150px;   
    display: flex;
    
}

.div-input{

    width: auto;
    display: block;
}

.div-input h1{

    text-transform: uppercase;
    font-size: 30px;
    display:flex;


}

.div-imglanche{
    margin-left: 200px;
}

.lan-img{

    width: 560px;
    height:auto;
    border-radius: 5px;
}

.text-p{
    font-size: 20px;
    padding: 7px;
    margin-left: 95px;
    margin-bottom: 40px;
}

input{

    border:#fff;
    height: 30px;
    width: 510px;
    padding: 15px;
}

a li{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a li:after{

    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color:#FF1728;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}

a li:hover:after{
    width: 100%;

}

.button-input{
    margin-top: 30px;
    margin-left: 175px;
    padding: 10px 20px ; 
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    background-color: #FF1728;
    border: 1px solid #FF1728;
    border-radius: 50px;
    cursor: pointer;
    outline: 0;
    transition: 0.5s;
}

.button-input:hover{

    background-color: transparent;
    color: #FF1728;
}

.input-form{
    border-radius: 50px;
    padding:20px;
    margin-left: 10px;
    font-size: 18px;
}

.input-form:focus{

    border: 1px solid #FF1728;
}


